#root {
 

}
body{
  margin: 0 auto;
  width: 100vw;
  box-sizing: border-box;
}
header {
  margin: 0 auto;
   text-align: center;
}
header::after{
  content: '';
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 2px;
  background-color: #c2c2c2;
  margin-bottom: 30px;
}
.product-container{
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  row-gap: 30px;
  margin-bottom: 20px;

}
.tittle-field{
  width: 100%;
  min-height: 80px;
  cursor: pointer;
}
.header-panel{
  background-color: #ffffff;
  padding: 20px 0;
  padding-left: 10%;
  padding-right: 10%;
  margin: 0 auto;
  width: 100%;
  display:  flex;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  position: sticky !important;
  top: 0;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.header-panel div:nth-child(1):hover::after{
  content: 'select and edit a tittle';
  font-weight: bold;
  font-size: small;
  display: block;
  position: absolute;
  transform: translate(325px);
  padding: 10px;
  background-color: #ffffff;
  outline: solid rgb(99, 156, 237);
  border-radius: 10px;
  
}


.header-panel div:nth-child(3):hover::after{
  content: 'change the font size!';
  font-weight: bold;
  font-size: small;
  display: block;
  position: absolute;
  transform: translate(-180px);
  padding: 10px;
  background-color: #ffffff;
  outline: solid rgb(99, 156, 237);
  border-radius: 10px;
  
}
.header-panel div:nth-child(1) input{
  padding: 10px;
  border-radius: 5px;
  border-color: #c2c2c2;
  outline: #c2c2c2;
  width: 100%;
  margin-left: 20%;
}
@media (max-width:600px) {
  .header-panel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .header-panel div:nth-child(1)::before{
    content: 'select a tittle';
    width: 90px;
    display:block;
     font-weight: bold;
    font-size: x-small;
  }
  .header-panel div:nth-child(1):hover::after{
    display: none;
  }

  .header-panel div:nth-child(3):hover::after{
    display: none;
  }
  .header-panel div:nth-child(1) input{
    margin: 0;
    width: 70%;
  }
}
.header-panel div{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 10px;

}
.product-card {
  margin: 0 auto;
  width: 270px;
  height: 630px;
  border: 2px solid;
  padding: 30px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-tittle h1 {
  font-weight: bolder;

}

.card-amount {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.card-amount input {
  margin: 0;
  width: 40px;
  text-align: center;
  height: 25px;
  font-size: medium;
  color: #5c5c5c;
}

.card-description p {
  margin: 0;
  color: #777878;
}

.card-buttons {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.card-buttons button {
  font-size: 22px;
  padding: 10px 15px;
  border: 1px solid #000000;
  background-color: #EAD7E5;
  cursor: pointer ;
}

.card-buttons a {

  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: capitalize;
  font-weight: 600;
  text-decoration: underline 2px;
  color: #363636;

}

footer{
  font-size: small;
  width: 100vw;
  height: 100px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: #181818;
  color: #777878;
}

.button-repository{
  text-decoration: none;
  padding: 10px;
  color: rgb(200, 103, 0) ;
  border: 2px solid  rgb(200, 103, 0) ;
  border-radius: 7px;
  text-transform: capitalize;
}


.button-repository:hover{
  color:  rgb(255, 150, 39) ;
  border-color:rgb(255, 150, 39) ;
}

